{{#each this}}
  <li class='catalog__item'>
    <img src={{image}} alt={{flowers}} />
    <p class='catalog__description'>{{name}}: {{flowers}}</p>
    <p class='catalog__description--price'>{{price}}</p>
    <button class='button-primary button-primary--catalog' type='button'>В кошик</button>
  </li>
{{/each}}