{{#each this}}
  <li class='catalog__item'>
    <img class='catalog__img' loading='lazy' src={{image}} alt='{{flowers}}' />
    <p class='catalog__description'>{{name}}: {{flowers}}</p>
    <p class='catalog__description--price'>{{price}} грн</p>
    <button
      class='button-primary button-primary--catalog js-add-to-basket'
      type='button'
    >В кошик</button>
  </li>
{{/each}}